Application/dist/*
Application/node_modules/*
Application/daemon.log
Application/history.db
Application/package-lock.json
Application/settings.db
Application/webverse-daemon-connection-*.cert
Application/webverse-daemon-pid.dat
Application/webverse-daemon-port.dat

Daemon/build/*
Daemon/node_modules/*
Daemon/daemon.log
Daemon/package-lock.json

Runtimes/Focused/*
Runtimes/FocusedSteamVR/*
Runtimes/Lightweight/*
Runtimes/node_modules/*
Runtimes/package-lock.json